* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 500vh;
    background-color: rgb(230, 230, 230);
    animation: bg 0.8s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both; 
}
.header-container {
    margin-top: 13%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.text-container {
    grid-area: 1/1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container h1 {
    width: 90%;
    font-size: 4rem;
}

.text-container p {
    width: 90%;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.cube-container {
    grid-area: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    pointer-events: all;
}

@keyframes bg {
    to {
        background-color: #021012;
    }
}

.progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
}

@keyframes progress {
    to {
        background-color: rgb(20, 255, 226);
        width: 100%;
    }
}

.cube-wrap {
    --size: 10vmin;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    perspective: 100vmin;
    transition: all 0.5s ease;
    animation: appears-element 1s linear;
    pointer-events: all;
}

@keyframes appears-element {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cube {
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
    animation: cube 13s linear infinite;
    cursor: pointer;
    pointer-events: all;
}

.cube:hover {
    animation: cube 5s linear infinite;
}

.cube-wrap:hover {
    transform: scale(2);
    transition: all 0.5s ease;
    pointer-events: all;
}

@keyframes cube {
    from {
        transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
    }

    to{
        transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
    }
}

.side {
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: #eee;
    backface-visibility: visible;
    top: calc(var(--size) * -.5);
    left: calc(var(--size) * -.5);
}

.top {
    background-color: #c1c1c1;
    transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
}

.bottom {
    background-color: #999;
    transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
}

.left {
    background-color: #ccc;
    transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
}

.right {
    background-color: #ddd;
    transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
}

.front {
    background-color: #aaa;
    transform: translateZ(calc(var(--size) * .5));
}

.back {
    background-color: #bbb;
    transform: translateZ(calc(var(--size) * -.5));
}

:root *{
    /*paused para só funcionar quando scrollar*/
    /* animation-play-state: running; */
    /*descer com o scroll do mouse \/ */
    /* animation-delay: calc(var(--scroll) * -1s); */
    /* quantidade de vezes */
    /* animation-iteration-count: 1;*/
    animation-fill-mode: both; 
}